---
- name: "Deploy Springboot instance"
  ansible.builtin.include_tasks: core.yml
  when:
    - not sbi_undeploy
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version|int >= 7

- name: "Undeploy Springboot instance"
  ansible.builtin.include_tasks: undeploy.yml
  when:
    - sbi_undeploy
    - ansible_os_family == "RedHat"
    - ansible_distribution_major_version|int >= 7
    - sbi_become
